/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gabarito:wght@400..900&family=Mrs+Saint+Delafield&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');


/* System Settings */
:root {
    --bg-primary: rgba(20,20,20,1);
    --txt-primary: rgba(255,255,255,1);
    --accent-1: rgba(245,222,179,1);
    --accent-2: rgba(0,235,235,1);

    --ff-primary: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: fit-content;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-primary);
    color: var(--txt-primary);
    font-family: var(--ff-primary);
}



/* General Settings */
section {
    height: fit-content;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 90%;
    margin-inline: auto;
    display: flex;
}

.split {
    height: 100%;
    width: 100%;
    display: flex;
}

.split > * {
    flex-basis: 100%;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1vw + 1rem, 3.25rem);
    font-weight: 500;
    margin-block: 1em;
}

header + main {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1em;
}

img {
    display: block;
}

footer {
    height: fit-content;
    width: 100%;
    background: rgba(5,5,5,1);
    padding: 2.5em 0;
    position: relative;
    bottom: 0;
}



/* Hero */
#hero {
    height: 100svh;

    padding: 0;

    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25) 100%), url(https://www.dropbox.com/scl/fi/1bq4zwqcibf8m1y6ho07v/HondaCRZ5PC.JPG?rlkey=0uvnhwjyzntqwh9nbzoakbuzf&st=5rfkjm41&raw=1) no-repeat;
    background-position: center;
    background-size: cover;
}

#hero .wrapper {
    justify-content: flex-start;
    align-items: center;
}

#hero main > h1 {
    font-size: clamp(1rem, 2.75vw + 1rem, 4rem);
    font-weight: 900;
}

#hero main > h2 {
    font-size: clamp(1rem, 1.5vw + 1rem, 3rem);
    font-weight: 100;
}



/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
}

#portfolio > div {
    padding-block: 1.75em;
}

#portfolio .imgLink {
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    display: inline-block;
}

#portfolio a img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

#portfolio img:hover {
    transform: translateY(-1.5em);
    -webkit-transform: translateY(-1.5em);
    -moz-transform: translateY(-1.5em);
    -ms-transform: translateY(-1.5em);
    -o-transform: translateY(-1.5em);
    box-shadow: 0 1em 2em 0.25em rgba(0,0,0,1);
}

#portfolio .split main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .split main a {
    text-decoration: none;
    font-size: clamp(1rem, 3vw + 1rem, 50rem);
    font-weight: 900;
    text-shadow: 0 0 1em rgba(0,0,0,1);
}

#portfolio #portfolio1 .split main a {
    color: var(--accent-1);
}

#portfolio #portfolio2 .split main a {
    color: var(--accent-2);
}

#portfolio1 .split {
    flex-direction: row;
}

#portfolio2 .split {
    flex-direction: row-reverse;
}