/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gabarito:wght@400..900&family=Mrs+Saint+Delafield&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');


/* Reset */
:root {
    --bg-primary: rgba(0,0,0,1);

    --txt-primary: rgba(255,255,255,1);
    --txt-secondary: rgba(245,222,179,1);

    --ff-primary: "Roboto", sans-serif;

    --btn-bg-1: rgba(155,15,15,1);
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-family: var(--ff-primary);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    object-position: center;
    object-fit: cover;
}

.wrapper {
    height: 100%;
    width: 90%;
    margin-inline: auto;
}

.split {
    height: 100%;
    width: 100%;
    display: flex;
}

.split > * {
    flex-basis: 100%;
}

nav {
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    padding-block: 1em;
}

nav .split > div {
    display: flex;
    align-items: center;
}

#logo {
    height: auto;
    width: 50%;
}

.navLinks {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
}

.navLinks a {
    font-size: clamp(0rem, 0.01vw + 1rem, 50rem);
    font-weight: 100;
    text-decoration: none;
    color: var(--txt-primary);
}

.navLinks a:hover {
    text-decoration: underline;
}



/* Hero */
#hero {
    height: 100svh;
    width: 100%;
    background: var(--bg-primary);
    color: var(--txt-primary);
}

#heroDiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#heroDiv1 > .split {
    flex-direction: column;
}

#hero main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero main h1 {
    height: fit-content;
    width: fit-content;
    font-size: clamp(1rem, 2vw + 1rem, 50rem);
    font-weight: 900;
}

#hero main h2 {
    height: fit-content;
    width: fit-content;
    font-size: clamp(1rem, 0.75vw + 1rem, 50rem);
    font-weight: 100;
}

#hero .split > #heroDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroImg {
    height: 100%;
    width: auto;
}